<div>
    <h2 id="page-heading">
        <span jhiTranslate="gdpJhipsterApp.country.home.title">Countries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-country" [routerLink]="['/country/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gdpJhipsterApp.country.home.createLabel">
            Create a new Country
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="countries?.length === 0">
        <span jhiTranslate="gdpJhipsterApp.country.home.notFound">No countries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="countries && countries.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="gdpJhipsterApp.country.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="gdpJhipsterApp.country.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="continent"><span jhiTranslate="gdpJhipsterApp.country.continent">Continent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="region"><span jhiTranslate="gdpJhipsterApp.country.region">Region</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="surfaceArea"><span jhiTranslate="gdpJhipsterApp.country.surfaceArea">Surface Area</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="population"><span jhiTranslate="gdpJhipsterApp.country.population">Population</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lifeExpectancy"><span jhiTranslate="gdpJhipsterApp.country.lifeExpectancy">Life Expectancy</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="localName"><span jhiTranslate="gdpJhipsterApp.country.localName">Local Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="governmentForm"><span jhiTranslate="gdpJhipsterApp.country.governmentForm">Government Form</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries ;trackBy: trackId">
                    <td><a [routerLink]="['/country', country.id, 'view']">{{ country.id }}</a></td>
                    <td>{{ country.code }}</td>
                    <td>{{ country.name }}</td>
                    <td jhiTranslate="{{ 'gdpJhipsterApp.Continent.' + country.continent }}">{{ country.continent }}</td>
                    <td>{{ country.region }}</td>
                    <td>{{ country.surfaceArea }}</td>
                    <td>{{ country.population }}</td>
                    <td>{{ country.lifeExpectancy }}</td>
                    <td>{{ country.localName }}</td>
                    <td>{{ country.governmentForm }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/country', country.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/country', country.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(country)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="countries && countries.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
