<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-country-heading" jhiTranslate="gdpJhipsterApp.country.home.createOrEditLabel">Create or edit a Country</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.country.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 3 }">
                        This field cannot be longer than 3 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.country.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 52 }">
                        This field cannot be longer than 52 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.country.continent" for="field_continent">Continent</label>
                    <select class="form-control" name="continent" formControlName="continent" id="field_continent">
                        <option value="ASIA">{{ 'gdpJhipsterApp.Continent.ASIA' | translate }}</option>
                        <option value="EUROPE">{{ 'gdpJhipsterApp.Continent.EUROPE' | translate }}</option>
                        <option value="NORTH_AMERICA">{{ 'gdpJhipsterApp.Continent.NORTH_AMERICA' | translate }}</option>
                        <option value="AFRICA">{{ 'gdpJhipsterApp.Continent.AFRICA' | translate }}</option>
                        <option value="OCEANIA">{{ 'gdpJhipsterApp.Continent.OCEANIA' | translate }}</option>
                        <option value="ANTARCTICA">{{ 'gdpJhipsterApp.Continent.ANTARCTICA' | translate }}</option>
                        <option value="SOUTH_AMERICA">{{ 'gdpJhipsterApp.Continent.SOUTH_AMERICA' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('continent')!.invalid && (editForm.get('continent')!.dirty || editForm.get('continent')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('continent')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.country.region" for="field_region">Region</label>
                    <input type="text" class="form-control" name="region" id="field_region"
                           formControlName="region"/>
                    <div *ngIf="editForm.get('region')!.invalid && (editForm.get('region')!.dirty || editForm.get('region')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('region')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('region')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 26 }">
                        This field cannot be longer than 26 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.country.surfaceArea" for="field_surfaceArea">Surface Area</label>
                    <input type="number" class="form-control" name="surfaceArea" id="field_surfaceArea"
                           formControlName="surfaceArea"/>
                    <div *ngIf="editForm.get('surfaceArea')!.invalid && (editForm.get('surfaceArea')!.dirty || editForm.get('surfaceArea')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('surfaceArea')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('surfaceArea')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.country.population" for="field_population">Population</label>
                    <input type="number" class="form-control" name="population" id="field_population"
                           formControlName="population"/>
                    <div *ngIf="editForm.get('population')!.invalid && (editForm.get('population')!.dirty || editForm.get('population')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('population')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('population')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.country.lifeExpectancy" for="field_lifeExpectancy">Life Expectancy</label>
                    <input type="number" class="form-control" name="lifeExpectancy" id="field_lifeExpectancy"
                           formControlName="lifeExpectancy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.country.localName" for="field_localName">Local Name</label>
                    <input type="text" class="form-control" name="localName" id="field_localName"
                           formControlName="localName"/>
                    <div *ngIf="editForm.get('localName')!.invalid && (editForm.get('localName')!.dirty || editForm.get('localName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('localName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('localName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.country.governmentForm" for="field_governmentForm">Government Form</label>
                    <input type="text" class="form-control" name="governmentForm" id="field_governmentForm"
                           formControlName="governmentForm"/>
                    <div *ngIf="editForm.get('governmentForm')!.invalid && (editForm.get('governmentForm')!.dirty || editForm.get('governmentForm')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('governmentForm')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('governmentForm')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
