<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-country-language-heading" jhiTranslate="gdpJhipsterApp.countryLanguage.home.createOrEditLabel">Create or edit a Country Language</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.countryLanguage.language" for="field_language">Language</label>
                    <input type="text" class="form-control" name="language" id="field_language"
                           formControlName="language"/>
                    <div *ngIf="editForm.get('language')!.invalid && (editForm.get('language')!.dirty || editForm.get('language')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('language')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.countryLanguage.isOfficial" for="field_isOfficial">Is Official</label>
                    <select class="form-control" name="isOfficial" formControlName="isOfficial" id="field_isOfficial">
                        <option value="T">{{ 'gdpJhipsterApp.TrueFalse.T' | translate }}</option>
                        <option value="F">{{ 'gdpJhipsterApp.TrueFalse.F' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('isOfficial')!.invalid && (editForm.get('isOfficial')!.dirty || editForm.get('isOfficial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isOfficial')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.countryLanguage.percentage" for="field_percentage">Percentage</label>
                    <input type="number" class="form-control" name="percentage" id="field_percentage"
                           formControlName="percentage"/>
                    <div *ngIf="editForm.get('percentage')!.invalid && (editForm.get('percentage')!.dirty || editForm.get('percentage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('percentage')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('percentage')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.countryLanguage.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" formControlName="countryId">
                        <option *ngIf="!editForm.get('countryId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('countryId')!.invalid && (editForm.get('countryId')!.dirty || editForm.get('countryId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('countryId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
