<div>
    <h2 id="page-heading">
        <span jhiTranslate="gdpJhipsterApp.countryLanguage.home.title">Country Languages</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-country-language" [routerLink]="['/country-language/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gdpJhipsterApp.countryLanguage.home.createLabel">
            Create a new Country Language
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="countryLanguages?.length === 0">
        <span jhiTranslate="gdpJhipsterApp.countryLanguage.home.notFound">No countryLanguages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="countryLanguages && countryLanguages.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="language"><span jhiTranslate="gdpJhipsterApp.countryLanguage.language">Language</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isOfficial"><span jhiTranslate="gdpJhipsterApp.countryLanguage.isOfficial">Is Official</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="percentage"><span jhiTranslate="gdpJhipsterApp.countryLanguage.percentage">Percentage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="countryName"><span jhiTranslate="gdpJhipsterApp.countryLanguage.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let countryLanguage of countryLanguages ;trackBy: trackId">
                    <td><a [routerLink]="['/country-language', countryLanguage.id, 'view']">{{ countryLanguage.id }}</a></td>
                    <td>{{ countryLanguage.language }}</td>
                    <td jhiTranslate="{{ 'gdpJhipsterApp.TrueFalse.' + countryLanguage.isOfficial }}">{{ countryLanguage.isOfficial }}</td>
                    <td>{{ countryLanguage.percentage }}</td>
                    <td>
                        <div *ngIf="countryLanguage.countryId">
                            <a [routerLink]="['/country', countryLanguage.countryId , 'view']" >{{ countryLanguage.countryName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/country-language', countryLanguage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/country-language', countryLanguage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(countryLanguage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="countryLanguages && countryLanguages.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
