<div>
    <h2 id="page-heading">
        <span jhiTranslate="gdpJhipsterApp.school.home.title">Schools</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-school" [routerLink]="['/school/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gdpJhipsterApp.school.home.createLabel">
            Create a new School
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="schools?.length === 0">
        <span jhiTranslate="gdpJhipsterApp.school.home.notFound">No schools found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="schools && schools.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="gdpJhipsterApp.school.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eduType"><span jhiTranslate="gdpJhipsterApp.school.eduType">Edu Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="noOfRooms"><span jhiTranslate="gdpJhipsterApp.school.noOfRooms">No Of Rooms</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let school of schools ;trackBy: trackId">
                    <td><a [routerLink]="['/school', school.id, 'view']">{{ school.id }}</a></td>
                    <td>{{ school.name }}</td>
                    <td jhiTranslate="{{ 'gdpJhipsterApp.EducationType.' + school.eduType }}">{{ school.eduType }}</td>
                    <td>{{ school.noOfRooms }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/school', school.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/school', school.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(school)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
