<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="school">
            <h2><span jhiTranslate="gdpJhipsterApp.school.detail.title">School</span> {{ school.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gdpJhipsterApp.school.name">Name</span></dt>
                <dd>
                    <span>{{ school.name }}</span>
                </dd>
                <dt><span jhiTranslate="gdpJhipsterApp.school.eduType">Edu Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gdpJhipsterApp.EducationType.' + school.eduType }}">{{ school.eduType }}</span>
                </dd>
                <dt><span jhiTranslate="gdpJhipsterApp.school.noOfRooms">No Of Rooms</span></dt>
                <dd>
                    <span>{{ school.noOfRooms }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/school', school.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
