<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-school-heading" jhiTranslate="gdpJhipsterApp.school.home.createOrEditLabel">Create or edit a School</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.school.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.school.eduType" for="field_eduType">Edu Type</label>
                    <select class="form-control" name="eduType" formControlName="eduType" id="field_eduType">
                        <option value="PRIMARY">{{ 'gdpJhipsterApp.EducationType.PRIMARY' | translate }}</option>
                        <option value="SECONDARY">{{ 'gdpJhipsterApp.EducationType.SECONDARY' | translate }}</option>
                        <option value="HIGHER_SECONDARY">{{ 'gdpJhipsterApp.EducationType.HIGHER_SECONDARY' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('eduType')!.invalid && (editForm.get('eduType')!.dirty || editForm.get('eduType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('eduType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.school.noOfRooms" for="field_noOfRooms">No Of Rooms</label>
                    <input type="number" class="form-control" name="noOfRooms" id="field_noOfRooms"
                           formControlName="noOfRooms"/>
                    <div *ngIf="editForm.get('noOfRooms')!.invalid && (editForm.get('noOfRooms')!.dirty || editForm.get('noOfRooms')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('noOfRooms')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('noOfRooms')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 5 }">
                            This field should be at least 5.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('noOfRooms')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 99 }">
                            This field cannot be more than 99.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('noOfRooms')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
