<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-car-heading" jhiTranslate="gdpJhipsterApp.car.home.createOrEditLabel">Create or edit a Car</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.car.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.car.model" for="field_model">Model</label>
                    <input type="text" class="form-control" name="model" id="field_model"
                           formControlName="model"/>
                    <div *ngIf="editForm.get('model')!.invalid && (editForm.get('model')!.dirty || editForm.get('model')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('model')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.car.manufactureYear" for="field_manufactureYear">Manufacture Year</label>
                    <div class="input-group">
                        <input id="field_manufactureYear" type="text" class="form-control" name="manufactureYear" ngbDatepicker #manufactureYearDp="ngbDatepicker" formControlName="manufactureYear"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="manufactureYearDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('manufactureYear')!.invalid && (editForm.get('manufactureYear')!.dirty || editForm.get('manufactureYear')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('manufactureYear')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gdpJhipsterApp.car.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" formControlName="ownerId">
                        <option *ngIf="!editForm.get('ownerId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="ownerOption.id" *ngFor="let ownerOption of owners; trackBy: trackById">{{ ownerOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('ownerId')!.invalid && (editForm.get('ownerId')!.dirty || editForm.get('ownerId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('ownerId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
